* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;
  height: 80px;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
}